<!DOCTYPE html>
<html>
    <head>
        <title>Mi Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body>
        <div>
            <img src="../../assets/img/store.png" alt="foto de tienda"/>
        </div>
        <div>
            <form id="form_categorias">
                <label>Nombre de la Categoria:</label>
                <br>
                <input type="text" id="categorias">
                <br>
                <button type="button">Cancelar</button>
                <button type="submit">Guardar</button>
                <h2>Thomas Cespedes</h2>
            </form>
        </div>
         <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
       <script src="../../assets/js/validaciones.js" type="text/javascript"></script>
    </body>
</html>
