<!DOCTYPE html>

<html>
    <head>
        <title>Mi Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/css/estilos.css"/>
    </head>
    <body>
        <header>
            <div>
                <img src="./assets/img/store.png" alt="imagen tienda">
            </div>
        </header>
        <main>
            <h1>Lista de Productos</h1>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($lp as $indice => $producto) { ?>
                    <tr>
                        <td id="lolazo">
                            <img src="./assets/img/<?php echo $producto['imagen']; ?>" alt="<?php echo $producto['nombre_producto']; ?>">
                        </td>
                        <td><?php echo $producto['nombre_producto']; ?></td>
                        <td><?php echo $producto['descripcion']; ?></td>
                        <td><?php echo $producto['precio']; ?></td>
                        <td>
                            <?php
                                $cat = new Categorias($producto['categoria_id']);
                                echo $cat->nombre;
                                ?>
                        </td>
                    </tr>
                    <?php } ?>
            </table>
            <button class="btn1"><a href="./backend/productos.php?add" class="a" >Agregar&nbspProducto</a></button>
            <button class="btn2"><a href="./backend/categorias.php?add" class="a" >Agregar&nbspCategoria</a></button>
        </main>
    </body>
</html>
